/**
 * Variables file
 *
 */

/**
 * Color & Background
 *
 */

$primary-color: #121429 !default;
$secondary-color: #6D7F99 !default;
$white-color: #FFFFFF;
$black-color: #000000;
$yellow-color: #F5E40E;
$orange-color: #FD5334;
$blue-color: #1A9DE7;
$blue-sea-color: #50E3C2;
$pink-color: #EA5771;
$green-color: #039245;
$red-color: #D22D36;
$yellow2-color: #F2C94C;
$blue2-color: #008FFF;

/**
 *  Font & Text
 *
 */

// font-family
$font-family-primary: 'Roboto Mono',
monospace;

// font-size
$font-size-h1: 28px;
$font-size-h2: 20px;
$font-size-h3: 14px;
$font-size-h4: 11px;
$font-size-h5: 9px;

// font weight
$font-weight-primary: 700;
$font-weight-secondary: 500;

// letter-spacing
$letter-spacing-primary: 1.2px;

// line-height
$line-height-primary: 39px;
$line-height-secondary: 30px;
$line-height-third: 14px;
$line-height-fourth: 13px;
$line-height-fifth: 11px;

// text-transform
$text-transform: uppercase;



/**
 * Box
 *
 */

$width-100vw: 100vw;
$height-100vh: 100vh;

$width-100: 100%;
$width-90: 90%;
$width-80: 80%;
$width-70: 70%;
$width-60: 60%;
$width-50: 50%;

$height-100: 100%;
$height-90: 90%;
$height-80: 80%;
$height-70: 70%;
$height-60: 60%;
$height-50: 50%;





/**
 * Positioning
 *
 */



/**
 * Effects
 *
 */