/**
*   Main Layout Page
*   
*/

.App {
    font-family: $font-family-primary;
    background-color: $primary-color;
    // background: rgb(2, 0, 36);
    // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(18, 20, 41, 1) 51%, rgba(29, 34, 85, 1) 86%);
    width: 100vw;
    height: 100vh;
    color: $white-color;
    padding: 30px;
    text-transform: $text-transform;
}

.home,
.about,
.donate,
.news,
.statistics,
.thailand,
.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: $font-size-h1;
    letter-spacing: $letter-spacing-primary;
}