/**
*   Main Layout Page
*   
*/

.App {
    font-family: $font-family-primary;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
    color: $white-color;
    padding: 30px;
    text-transform: $text-transform;
}