/**
*   Main Layout Page
*   
*/

.App {
    font-family: $font-family-primary;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
    color: $white-color;
    padding: 30px;
    text-transform: $text-transform;
}

.home,
.about,
.donate,
.news,
.statistics,
.thailand,
.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: $font-size-h1;
    letter-spacing: $letter-spacing-primary;
}