/**
*   Statistics Page
*   
*/

.statistics {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    color: $white-color;
    // align-items: center;
    // height: 100%;
    // width: 90%;
    font-size: $font-size-h1;
    letter-spacing: $letter-spacing-primary;
}