/**
 * Panel Component
 *
 */

@import '../base/variables';

.panel {
    background-color: $primary-color;
    // opacity: 0.5;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    // border: 1px solid $white-color;
    // transition: 850ms;
    box-shadow: 0px 10px 24px $black-color;
    //box-shadow: 10px 10px 28px $black-color, -10px -10px 28px $black-color;
}